<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gandalf.piquatro">

    <!-- To auto-complete taaaahe email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logogandalf"
        android:label="Gandalf Store"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstTime" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ListaProdutos"></activity>
        <activity
            android:name=".CadastroCliente"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CadastroEndereco"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DadosCadastrais"
            android:parentActivityName=".NewIndex"></activity>
        <activity
            android:name=".Configuracoes"
            android:parentActivityName=".NewIndex"></activity>
        <activity
            android:name=".descProduto"
            android:parentActivityName=".ListaProdutos"></activity>
        <activity
            android:name=".Enderecos"
            android:parentActivityName=".Configuracoes"></activity>
        <activity
            android:name=".NewIndex"
            android:label="@string/title_activity_new_index"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRCode"></activity>
        <activity android:name=".Carrinho.Carrinho"></activity>
        <activity android:name=".Checkout.Checkout"></activity>
    </application>

</manifest>